# Set tokens and rename this file to `credentials.conf`
# in order to run the bot.

token {
  production: ""
  beta: ""
}

server counts {
  carbonitex: ""
  discordbots: ""
  abal: ""
}
imgflip : ""
mashape: ""